{% extends 'base.html' %}
{% block title %}Your Cart{% endblock title %}

{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="card-panel">
        <h4 class="btn btn-warning rounded-pill">Your Cart</h4>
        <hr>
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="circle" src="{{product.image.url}}" alt=""></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|price_total:request.session.cart|currency}}</td>
                </tr>
                {% endfor %}
               
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" colspan="">Total</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
            </tfoot>
        </table>
        <hr>
        <div class="row">
            <div class="col s12">
                <a href="#" class="btn btn-outline-success right">Check out</a>
            </div>
        </div>
   </div>
</div>

{% endblock %}
