{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <h2 class="display-4 pl-4 ml-4">Your Orders</h2>
        <hr>
        <div class="row">
            <div class="col s12">
                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th>Sno.</th>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><img style="height: 80px;" class="circle" src="{{ order.product.image.url }}" alt=""></td>
                            <td>{{ order.product.name }}</td>
                            <td>{{ order.date }}</td>
                            <td>{{ order.price|currency }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.quantity|multiply:order.price|currency }}</td>
                            {% if order.status %}
                            <td><span class="new badge green" data-badge-caption="Completed"></span></td>
                            {% else %}
                            <td><span class="new badge yellow darken-2" data-badge-caption="Pending"></span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
   </div>
</div>
{% endblock %}
